@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body{
    background: #e0e0e0;
    padding: 0;
    margin: 0; 
}

#playerNames::backdrop {
    background: #a2c11c;
} 
 
#playerNames[open]{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    border: none;
    border-radius: 5px;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
} 

form{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

form>label{
    font-size: 0.9rem;
}

form>button{
    background: #2c5d63; 
    border-radius: 5px;
    border: lightgrey solid 1px;
    font-size: 0.9rem;
    color: white;
}

form>button:hover{
    background: #499da8; 
}

input[type="text"]{
    margin-bottom: 15px;
    border-radius: 5px;
    border: solid 1px lightgrey;
    height: 1.5rem;
    font-size: 1.5rem;
}

#canvas{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

#topElements{
    grid-row:1/2;
    font-family: 'Roboto', sans-serif;

}

h1{
    font-size: 4rem;
    color: #283739; 
}

#whosTurnIsIt{
    text-align: center;
    font-size: 2rem;
    color: #a2c11c; 
}


#ticTacToe{
    grid-row: 2/3;
}

#reset{
    width: 10rem;
    height: 2rem;
    background: #a2c11c;
    border-radius: 5px;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    border: none;
}

#reset:hover{
    background: #b8dd14;
}

#winner{
    text-align: center;
    font-size: 2rem;
    color: #2c5d63;
    margin-bottom: 1rem;
}


/* Tic Tac Toe styling below */
.row{
    display: flex;
}

.cell{
    width: 100px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
      /* border-right: 1px solid;
    border-bottom: 1px solid;   */
}

.middleH{
    border-right: solid 4px;
    border-left: solid 4px;
}

.middleM{
    border:solid 4px
}

.middleV{
    border-top:solid 4px;
    border-bottom: solid 4px;
}

.O:before{
    content: "O";
    font-size: 7rem;
    text-align: center;
    color:  #a2c11c;
}

.X::before{
    content: "X";
    font-size: 7rem;
    text-align: center;
    color: #283739; 
}

